.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-create {
  width: 450px;
}

.task-form {
  display: flex;
  flex-direction: column;
}

.task-label {
  margin: 10px 0;
}

.task-input {
  padding: 5px;
  margin: 10px 0;
  border: 1px solid black;
  border-radius: 10px;
}


.task-button {
  margin: 10px 0;
  border-style: none;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  height: 40px;
  background: radial-gradient(circle, rgba(252, 176, 69, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(131, 58, 180, 1) 100%);
}

.task-button:hover {
  background: radial-gradient(circle, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.task-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.task-show {
  text-align: center;
  border-radius: 10px;
  padding: 3px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  margin: 20px;
}

.btn-Remove {
  color: #fd1d1d;
  border: 1px solid #fd1d1d;
  border-radius: 5px;
  background: white;
  height: 37px;
  width: 15%;
}
.btn-Remove:hover {
  color: white;
  border: 1px solid #fd1d1d;
  background: #fd1d1d;
}

.btn-Update {
  color: #833ab4;
  border: 1px solid #833ab4;
  border-radius: 5px;
  background: white;
  height: 37px;
  width: 27%;
  margin-left: 7px;
}

.btn-Update:hover {
  color: white;
  border: 1px solid #833ab4;
  background: #833ab4;
}